:root {
  --a: #222831;
  --b: #393e46;
  --c: #00adb5;
  --d: #eeeeee;
  --ao: #2228319d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: var(--d);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--b);
}

header {
  background-color: var(--a);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 2rem;
}

main {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

main section {
  padding: 1rem;
  background-color: var(--a);
  border-radius: 0.3rem;
  display: flex;
  max-width: 100%;
  gap: 2rem;
}

main section svg {
  height: 10rem;
  width: 10rem;
}

.live-editor {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  height: 10rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.fill-blue {
  fill: var(--c);
}

.fill-white {
  fill: var(--d);
}

select {
  border-radius: 0.3rem;
  width: 100%;
  padding: 0.4rem;
}

select,
select option {
  color: var(--a);
}

.code-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  background-color: var(--b);
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.color {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  cursor: pointer;
}

#color-blue {
  background-color: var(--c);
}

#color-white {
  background-color: var(--d);
}
